<h1>Goals</h1>

<ul>
  <% if current_user == @user %>
    <%= render @user.goals %>
  <% else %>
    <%= render @user.public_goals %>
  <% end %>
</ul>

<form action="<%= goals_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    Title
    <input type="text" name="goal[title]">
  </label>
  <br>
  <label>
    Description
    <br>
    <textarea
      name="goal[description]"
      rows="8"
      cols="40"
      placeholder="Describe your goal!"
      ></textarea>
  </label>
  <br>

  <label>
    Private
    <input type="checkbox" name="goal[private]" value="true">
  </label>
  <br>
  <input type="submit" value="Create New Goal">

</form>
